.catalog {

    &__button {
        height: 50px;
        background: #ffffff;
        border: solid 1px #000000;
        outline: none;
        cursor: pointer;
        font: unset;
        font-weight: 600;
        flex-grow: 1;
        margin-top: 23px;

        &:hover {
            background: #000000;
            color: #ffffff;
        }
    }
}

.products-grid {
    display: flex;
    flex-wrap: wrap;

    h4 {
        margin: 0;
    }

    &__product {
        max-width: 26.8%;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:nth-child(3n +2) {
            margin: 0 5%;
        }

        span {
            font-size: 15px;
            color: #ccc;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        span {
            color: #000000;
            font-size: 18px;
        }
    }

    &__footer {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__colors {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.color-circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#circle-black {
    background-color: #000000;
}

#circle-white {
    background-color: #ffffff;
    border: solid 1px #ccc;
}

#circle-blue {
    background-color: #01a4ea;
}

#circle-red {
    background-color: #e03609;
}