.header {
    height: 82px;

    &_stretched {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 142px;

        img {
            width: 85px;
            height: 60px;
        }
    }
}