.header {
    height: 82px;
    border-bottom: solid 1px #ececec;

    a {
        text-decoration: none;
        color: #000000;
        font-size: 14px;
    }

    img {
        width: 44%;
    }

    &__nav {
        width: 16%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-cart {
        width: 14.2%;
        display: flex;
        align-items: center;

        img {
            width: 42%;
        }

        a {
            max-width: 120px;
            display: flex;
            align-items: center;
        }

        &__counter {
            width: 20%;
            height: 24px;
            box-sizing: border-box;
            padding: 2px;
            text-align: center;
            border: solid 1px #000000;
        }
    }
}

.underline {
    border-bottom: solid 1px black;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .header {
        display: flex;

        &-cart {
            width: 17%;
            
            img {
                width: 35%;
            }

            &__counter {
                width: 18%;
                height: 22px;
            }
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .header {
        display: flex;

        &-cart {
            width: 30%;

            img {
                width: 28%;
            }
        }

        &__nav {
            width: 30%;
        }
    }

    .logo {
        width: 20%;
    }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
    .logo {
        width: 25%;
        margin-right: 5%;
    }

    .header {
        display: flex;

        &__nav {
            width: 35%;
            margin-right: 5%;
        }

        &-cart__counter {
            position: absolute;
            top: 52px;
            right: 15%;
            width: 8%;
        }
    }
}