.header {
    height: 82px;
    border-bottom: solid 1px #ececec;

    a {
        text-decoration: none;
        color: #000000;
        font-size: 14px;
    }

    img {
        width: 44%;
    }

    &__nav {
        width: 16%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-cart {
        width: 14.2%;
        display: flex;
        align-items: center;

        img {
            width: 42%;
        }

        a {
            max-width: 120px;
            display: flex;
            align-items: center;
        }

        &__counter {
            width: 20%;
            height: 24px;
            box-sizing: border-box;
            padding: 2px;
            text-align: center;
            border: solid 1px #000000;
        }
    }
}