.catalog-filter {
    height: 100px;
    background: #ececec;
    display: flex;
    align-items: center;

    &__body {
        width: 95.3%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__price-choose {
        width: 32.3%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            width: 30%;
            height: 40px;
            background: #ececec;
            outline: none;
            border: 1px solid #ccc;
            text-indent: 5px;
            font-size: 20px;
            font-family: "Montserrat";
            
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

    }

    &__color-choose {
        width: 185px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .catalog-filter {
        height: 180px;

        &__body {
            width: unset;
            height: 145px;
            flex-direction: column;

            h2 {
                font-size: 17px;
            }
        }

        &__price-choose {
            width: 65%;
        }
    }
}