.footer {
    height: 82px;
    background: #000000;
    
    img {
        width: 44%;
        filter: invert(1);
    }

    i {
        font-size: 30px;
    }

    a {
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        width: 12%;
    }
}